@import "src/styles/colors";
@import "~react-datetime/css/react-datetime.css";

.addition-container {
  padding: 2rem 4rem;

  @media screen and (max-width: 320px) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:not(:disabled):active + label::before {
    background-color: $primary-accent;
    border-color: $primary-accent;
  }

  &:checked + label {
    color: $primary-black;

    &::before {
      border: 1px solid $primary-accent;
      display: block;
      content: url("../../icons/checked.svg");
    }
  }

  + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 1rem;
    color: $gray-dark;

    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $gray-dark;
      margin-right: 0.5em;
      box-sizing: border-box;
    }
  }

}
