@import "src/styles/colors";
@import "~react-datetime/css/react-datetime.css";

.addition-container {
  padding: 2rem 4rem;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }

  @media screen and (max-width: 320px) {
    padding: 1rem 2rem;
  }
}
