.admin-car-edit-page {
  &_container {
    display: flex;
  }

  &_card {
    background: #FFFFFF;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    max-height: content-box;

    &__left {
      width: 334.5px;
      margin-right: 2rem;
    }

    &__right {
      flex-grow: 1;
      padding: 1rem;
    }
  }

  &_header {
    font-weight: 500;
    font-size: 17.5px;
    line-height: 21px;
    letter-spacing: -0.4375px;

    color: #3D5170;

    margin-bottom: 2rem;
  }

  &_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    flex-grow: 1;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
    }

    button + button {
      margin-left: 1rem;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    h2 {
      font-weight: normal;
      font-size: 24.5px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.6125px;

      color: #3D5170;
    }

    h4 {
      font-weight: normal;
      font-size: 12.5px;
      line-height: 14px;
      text-align: center;
      letter-spacing: -0.3125px;

      color: #818EA3;
    }

    img {
      width: 231px;
    }
  }

  &_progress {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12), 0px 1px 0px rgba(0, 0, 0, 0.12);

    div {
      display: flex;
      justify-content: space-between;

      h4 {
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.408571px;

        color: #868E96;
      }

      h4 + h4 {
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: -0.345714px;

        color: #5A6169;
      }
    }

    progress {
      width: 100%;
    }
  }

  &_description {
    padding: 1rem 1rem 2rem;

    h5 {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.408571px;

      color: #868E96;
      margin-bottom: 1rem;
    }

    p {
      font-weight: normal;
      font-size: 13.5px;
      line-height: 19px;
      letter-spacing: -0.408571px;

      color: #5A6169;
    }
  }
}
