.additional-rate-picker {
  display: flex;
  flex-direction: column;

  div {
    padding-bottom: 0.5rem;
  }

  &_container {
    margin-bottom: 2rem;

    > label {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
}
