@import "../../styles/colors";

.order-details {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $gray-light;
  padding: 2rem 3rem 0 2rem;

  @media screen and (max-width: 320px) {
    padding: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    margin-bottom: 2rem;
  }

  &_row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

    span:first-child {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
    }

    span + div {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $gray-dark;
    }
  }

  &_value {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $gray-dark;
      text-align: right;
    }
  }
}
