@import "../../styles/colors";

.main-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 320px) {
    justify-content: flex-start;
  }

  &_container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    @media screen and (max-width: 320px) {
      padding-left: 0;
    }
  }

  &_container-text {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 320px) {
      padding: 0 1rem;
    }
  }

  &_title {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;

    margin: 0;

    &__accent {
      color: $primary-accent;
      font-weight: 700;
    }

    @media screen and (max-width: 320px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &_description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: $gray-dark;

    margin: 2rem 0 3.5rem;

    @media screen and (max-width: 320px) {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
