.button {
  background: linear-gradient(to right, $primary-accent, #039F67);
  border-radius: 8px;
  height: 48px;
  width: 120px;
  color: $gray-light;
  border: none;

  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  &__wide {
    width: 250px
  }

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:focus {
    filter: brightness(90%);
  }

  &__disabled {
    background: $gray-light
  }
}
