.link {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  cursor: pointer;

  &:hover {
    color: $primary-accent;
  }

  &__gray {
    color: $gray-light;

    &:hover {
      color: $primary-accent;
    }
  }

  &__accent {
    color: $primary-accent;

    &:hover {
      color: $gray-light;
    }
  }

  &__disabled {
    color: $gray-dark;
  }
}
