.admin-interface {

  &_container {
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: 285px 1fr;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 285px 1fr;
    }

    @media screen and (max-width: 320px) {
      grid-template-columns: 0 1fr;
    }
  }

  &_main {
    display: flex;
    flex-direction: column;

    header + div {
      flex-grow: 1;
    }
  }
}


.admin-side-bar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 75px rgba(90, 97, 105, 0.11), 0 2px 4px rgba(90, 97, 105, 0.12), 0 7.5px 11px rgba(90, 97, 105, 0.1), 0 3.5px 17.5px rgba(165, 182, 201, 0.1);

  &_header {
    display: flex;
    align-items: center;
    padding: 1rem 49px;
    height: 67.5px;
    box-shadow: inset 0px -1px 0px #E1E5EB;

    img {
      width: 21.5px;
    }

    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #3D5170;
      margin-left: 0.5rem;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-shadow: inset 0px -1px 0px #E1E5EB;

    &:active {
      box-shadow: inset 0px -1px 0px #E1E5EB, inset 4px 0px 0px #007BFF;
    }

    h4 {
      font-weight: normal;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: -0.234375px;

      color: #3D5170;
    }

    span {
      display: block;
      width: 12px;
      height: 12px;
      margin-right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .auto {
      background-image: url("../../../icons/admin-menu-icon-1.svg");

      &:hover {
        background-image: url("../../../icons/admin-menu-icon-1-blue.svg");
      }
    }
  }
}
