@import "../../../styles/colors";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;

  &_copyright {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $gray-dark;
  }

  &_copyright {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
  }
}
