@import "src/styles/colors";

.total-container {
  padding: 2rem 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }

  @media screen and (max-width: 320px) {
    padding: 1rem 2rem;
    grid-template-columns: 1fr;
  }

  img {
    width: 256px;
    height: 116px;

    @media screen and (max-width: 320px) {
      width: 100%;
      height: auto;
    }
  }
}

.total-card {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0.5rem;

    + div {
      border: 1px solid $gray-dark;
      padding: 0.25rem;
      text-transform: uppercase;
      border-radius: 4px;
      width: max-content;

      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0.5rem;
    }
  }

  p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0.5rem;
  }
}
