@import "../../styles/colors";

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 320px) {
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem 3rem;
  }

  @media screen and (min-width: 1440px) {
    width: 1376px;
    margin: 0 auto;
  }

  &_location {
    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;

    .location {
      display: block;
      margin-right: 5px;
      width: 17px;
      height: 20px;
      background-image: url('../../icons/location.svg');
    }
  }

  &_logo {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: $primary-accent
  }
}
