@import "./src/styles/colors";

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;

  display: grid;
  grid-template-columns: 64px 1fr 1fr;
}

.side-bar {
  background: #151B1F;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;

  &_location {
    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;

    img {
      margin-right: 5px;
    }
  }

  &_logo {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: $primary-accent
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;

  &_copyright {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $gray-dark;
  }

  &_copyright {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
  }
}

.menu-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 32px;
  padding: 0;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

  div {
    position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $gray-light
  }
}

.language-btn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

  position: absolute;
  left: 21px;
  bottom: 30px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  color: $primary-accent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.slider {
  background: $gray-dark;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.main-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;

  &_title {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;

    margin: 0;

    &__accent {
      color: $primary-accent;
    }
  }

  &_description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: $gray-dark;

    margin: 2rem 0 4rem;
  }
}
