.order_map-container {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }

  span {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1rem;
  }
}
