@import "../../styles/colors";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  min-height: 72px;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }

  @media screen and (max-width: 320px) {
    padding: 0.5rem 1rem;
    background: #151B1F;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;;
  }

  &_copyright {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $gray-dark;

    @media screen and (max-width: 320px) {
      color: $gray-light;
    }
  }

  &_phone {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    @media screen and (max-width: 320px) {
      color: $primary-accent;
    }
  }
}
