@import "../../../styles/colors";

.burger-menu {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 32px;
  padding: 0;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

  &__active {
    div:nth-child(1) {
      top: 6px;
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      display: none;
    }

    div:nth-child(3) {
      top: -11px;
      transform: rotate(-45deg);
    }
  }

  div {
    position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $gray-light;

    transition: all .5s;
  }
}
