.login-page {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
  max-width: 376.5px;

  &_container {
    width: 100%;
    height: 100vh;
    background-color: #F5F6F8;
    display: flex;
    justify-content: center;
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #3D5170;
      margin-left: 1rem;
    }
  }
}

.dialog {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(90, 97, 105, 0.11), 0 2px 4px rgba(90, 97, 105, 0.12), 0 5px 5px rgba(90, 97, 105, 0.06), 0 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  padding: 1.3rem 1rem;

  &_header {
    font-weight: normal;
    font-size: 17.5px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.4375px;
    color: #3D5170;
    margin-bottom: 2rem;
  }

  &_form {
    display: flex;
    flex-direction: column;
  }

  &_button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 10.5px;
      line-height: 12px;
      letter-spacing: -0.18421px;
      color: #007BFF;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
